[submodule "automation/PipelinesNgAutomation"]
	path = automation/PipelinesNgAutomation
	url = https://github.com/wings-software/PipelinesNgAutomation
[submodule "automation/automation"]
	path = automation/automation
	url = https://github.com/wings-software/PipelinesNgAutomation
